<pre>
	{{json @root}}
</pre>

<div class="container">
	<h1>My Catalogs</h1>
</div>
<div class="container">
	<div class="row">
		
		{{#each data.clientCatalogs}}
		<a href="/workorder/{{id}}">
			<div class="col-xs-4">
				{{name}}
			</div>
		</a>
		{{/each}}
	</div>
</div>
