{{!< default}}
<div class="container">
	<div class="row">
		<div class="col col-xs-6">
			<div class="jumbotron">
				<a href="/catalog/?clientId={{@root.locals.clientid}}"><button>My Catalogs</button></a>		
			</div>
		</div>
	</div>
	
</div>
