<div class="container">
	<h1>Login</h1>
</div>
<div class="container">
	<div class="row">
		<form name="login" id="login" class="col-sm-8 col-md-6">
			<label for="username">username</label>
			<input type="text" name="username"/>
			<label for="password">password</label>
			<input type="text" name="password"/>
			<button type="button">Submit</button>
		</form>
	</div>
</div>
