<script type="text/javascript">
	$(document).ready(function () {
		console.log('session userid:', $.session.get('userid'));
		if(!$.session.get('userid')){
			window.location.href='/logout';
		};
		$.ajax({
			url: '/api/catalog',
			dataType: 'json',
			success: function (data, status) {
				//console.log('result:', data, 'status:', status);
				$(this).prop('disabled', 'disabled');
				var _this = this;
				if(data.data && data.data.workOrders){
					window.catalog = {};
					$.each(data.data.workOrders, function(key, value)
					{
						window.catalog[value._id] = value;
						$('select[name=catalog]').append('<option value=' + value._id + '>' + value.catalogLabel + '</option>');
					});			
					$(_this).prop('disabled', false);
				}
				
				$('select[name=catalog]').on('change', function(e){
					
					if(e.target.value){
						//populate form
						var cat = window.catalog[e.target.value];
						delete cat.client;
						delete cat.catalog;
						// reset form values from json object
						$.each(cat, function(name, val){
							var $el = $('[name="'+name+'"]'),
									type = $el.attr('type');
							//console.log('[name="'+name+'"]', $el.length);
							switch(type){
								case 'checkbox':
									$el.attr('checked', 'checked');
									break;
								case 'radio':
									$el.filter('[value="'+val+'"]').attr('checked', 'checked');
									break;
								default:
									$el.val(val);
							}
						});
					}
				});
			}
		});
	
	});
</script>
